#map-wrapper {
    width: 800px;
    height: 600px;
    position: relative;
}

#leaflet {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#info-overlay {
    position: absolute;
    top: 10px;
    right: 10px;

    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.85);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 10;
}

#expansion-selected-text {
    color: black;
    font: 16px;
}
#expansion-unselected-text {
    color: grey;
    font: 14px;
}

.custom-header .mat-expansion-panel-header-title, 
.custom-header .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.custom-header .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}