<div id="map-wrapper">
  <div id="info-overlay">
      <mat-expansion-panel (click)="legendToggle()"
                            [expanded]="this.isLegendExpanded"
                            [disabled]="!this.isLegendExpanded"
                            hideToggle="true" #example>
      <mat-expansion-panel-header>
      <mat-panel-title>
          <div *ngIf="!this.isLegendExpanded"><div id="expansion-unselected-text">{{this.selectedStateName}}</div></div>
          <div *ngIf="this.isLegendExpanded"><div id="expansion-selected-text">{{this.selectedStateName}}</div></div>
      </mat-panel-title>
      <mat-panel-description>
          <div *ngIf="!example.expanded"><mat-icon>home</mat-icon></div>
          <div *ngIf="example.expanded"><mat-icon>home</mat-icon></div>
      </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </div>
  <div id="leaflet"
  leaflet 
  [leafletOptions]="options"
  (leafletMapReady)="onMapReady($event)">
  </div>
</div>